.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.big-wrapper {
    position: absolute;
    top: 150px;
    left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 10vw;
}

.box1 {
    position: relative;
}


.wrapper {
    font-family: sans-serif;
}

.wrapper img {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    border-radius: 3%;
}

.content {
    position: absolute;
    top: 75%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}

.Acasa {
    position: absolute;
    top: 25%;
    right: 7.3%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.Stiri {
    position: absolute; 
    top: 25%;
    right: 18.3%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.Intro {
    position: absolute; 
    top: 25%;
    right: 12.3%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.Istorie {
    position: absolute; 
    top: 25%;
    right: 2%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.content a {
    font-size: 24px;
    display: block;
    background-color: #ff771d;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
}

.overlay{
    opacity: 0;
}

.wrapper:hover img{
    opacity: .5;
}

.wrapper:hover .overlay{
    opacity: 1;
}
    
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   }

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

body{
    background-image: url(army.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.ctt{
    background: white;
    width: 80%;
    padding: 40px;
    margin: 8px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    line-height: 130%;
} 



.banner{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

}

.buttons img{
    width: 200px;

}

.inapoi{
    width: 200px;
}



body {
    font-family: Verdana, sans-serif;
    margin:0;
    
}

.stiri-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.more{
    float: right;
    background-color: red;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.h1{
    font-size: 15px;
    text-decoration: none;
}

.ctt h1{
    font-size: 15px;
    text-decoration: none;
}